body  {

    background-color: #777
}

header  {

    height: 10%;
    width: 70%;
    background: white;
    text-align: center;
    padding: 10px;

}

#wrapper  {

    align-self: auto;
}

#footer  {

    height: 10%;
    width: 70%;
    background: white;
    padding: 10px;
    text-align: center;
    
}

#aside1 {

    height: 300px;
    width: 400px;
    background: white;
    float: right;
    text-align: center;
}