body  {

    background-color: #777
}

header  {

    
    background: white;
    text-align: center;
    padding: 10px;
    margin: 10px;
    height: 50px;
    
}


#footer  {

    clear: both;
    background: white;
    padding: 10px;
    margin: 10px;
    text-align: center; 
    
        			
      
    			
      }



#paragraph1  {
    
       
        background: white;
        padding: 10px;
        text-align: center; 
        
            			
          
                    
          }
    

     





      #section1  {
        
           
            background: blue;
            width: 30%;
            height: 250px;
            text-align: center; 
            
             		
              float: left;
              margin: 10px;
                        
              }

             #article1  {
                
                    clear: both;
                    background: red;
                    padding: 20px;
                    text-align: center; 
                    width: 	40%;
                      
                     float: left; 
                     margin:   10px;        
                      }

  #paragraph1 {

    background-color: orange;
  }                   


#aside1 {

    clear: both;
    height: 300px;
    width: 400px;
    background: white;
    float: right;
    text-align: center;
    float: right;
    margin: 10px;
}

#nav1  {

    clear: both;
    background: white;
    padding: 10px;
    margin: 10px;
    text-align: center;
    height: 50px;
}


#h1 {

    background: greenyellow
}